<div class="row">
  <div class="small-6 column">
    <h1>Stocks</h1>
  </div>
</div>
<!--<br>-->
<div class="row collapse">
  <div class="small-6 column">
    <%= form_tag stock_index_path, :method => :get do %>
        <div class="row collapse">
          <div class="small-10 columns">
            <%= text_field_tag :search, params[:search], :placeholder => "Stock Symbol or Name" %>
          </div>
          <div class="small-2 column">
            <%= submit_tag "Search", :name => nil, :class => "button" %>
          </div>
        </div>
    <% end %>

  </div>
  <div class="small-6 column">
    <div class="row collapse">
      <div class="small-3 column"><%= link_to "Clear All", '/', :class => 'button', :id => "clear", :style => '' %></div>
    </div>
  </div>
</div>

<% if @empty_query %>
    <div class="row">
      <div class="small-6 column"><h3>Please input the text to query.</h3></div>
    </div>
<% end %>
<% unless @searched.blank? %>
    <div class="row">
      <div class="large-6 column">
        <h3> <%= @count %> Found</h3>
      </div>
      <div class="large-6 column">
        <h3><%= page_entries_info @searched %></h3>
      </div>
    </div>
    <br>
    <div class="row">
      <%= render 'stock/list' %>
    </div>
    <div class="row">
      <div class="small-6 small-centered columns ">
        <%= will_paginate @searched %></div>
    </div>
<% else %>
    <% unless @start || @empty_query %>
        <div class="row">
          <div class="large-6 column"><h3>Well......Cannot find it.</h3></div>
        </div>
    <% end %>
<% end %>