<%= stylesheet_link_tag "stock" %>

<h1>Stocks</h1>
<br>
<div class="row">
  <%= form_tag stock_index_path, :method => :get do %>
      <div class="large-6 ">
        <div class="row collapse">
          <div class="small-10 columns">
            <%= text_field_tag :search, params[:search], :placeholder => "Stock Symbol or Name" %>
          </div>
          <div class="small-2 columns">
            <%= submit_tag "Search", :name => nil, :class => "button" %>
            <%= link_to "Clear All", '/', :class => "button" %>
          </div>
        </div>
      </div>
  <% end %>
</div>
<% if @empty_query %>
    <div>Please input the text to query.</div>
    <%end%>
<% unless @searched.blank?%>
   <h3> <%= @count %> Found</h3>
    <br>
    <p><%=page_entries_info @searched %></p>
<%= render 'stock/list'%>
    <%= will_paginate @searched %>
    <% else %>
    <% unless @start || @empty_query %>
    <div>Well......Cannot find it.</div>
        <%end%>
<% end %>